body {
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

h1 {
    color: rgb(66, 148, 255);
}

.card {
    margin-left: 3%;
    border: 5px solid rgb(66, 148, 255);
    text-align: center;
    padding: 60px 40px 60px 40px;
    background-color: rgb(50,50,50);
    border-radius: 10px;
}

.name{
    width: 200px;
    color: rgb(66, 227, 255);
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(66, 148, 255);
    padding: 10px;
    margin-bottom: 15px;
}

#loginBtn {
    border-radius: 20px;
    padding: 10px 20px;
    background: rgb(66, 148, 255);
    color: black;
    margin-top: 10px;
    border: none;
    outline: none;
}

img {
    width: 30%;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
